  h1 {
    background-color: #0A841FC4;
    color: #fff;
    text-align: center;
  }
  
  a {
    color: #61CA4F;
  }
  
  body {
    background-color: #ccdddd;
  }
  
  /*mengubah div menjadi tampilan kartu*/
  div.akrtu-profil {
    background-color: #aaaa;
    width: 280px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  div.kartu-profil img {
    border-radius: 50%;
    border: 6px solid #0F5BD8;
  }
  
  .navigasi {
    background-color: #A553FF;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  .navigasi a {
    text-decoration: none;
  }
  
  .navigasi .aktif {
    font-weight: bold;
    color: #AC3C3C;
  }
  
  div.kartu-kontak {
    background-color: #ffffff;
    width: 80%;
    /* rata tengah horizontal*/
    margin: 0 auto;
    padding: 10px;
    /* sudut kotak tumpul*/
    border-radius: 10px;
  }
  
  .tombol-medsos {
    /* agar tombol melebar satu baris penuh*/
    display: block;
    padding: 10px;
    /* text rata tengah */
    text-align: center;
    text-decoration: none;
    margin: 8px;
    /* sudut tumlul.*/
    border-radius: 12px;
  }
  
  .wa{
    background-color: #25d366;
  }
  
  .github{
    background-color: #333333;
  }